* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ccc;
    background-image: url(../img/menu.png);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    box-shadow: 0 0 15px #c6985b55;
}

body {
    background-color: black;
    color: white;
}

.conteiner {
    width: 80%;
    margin: 0 auto;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: white;

}

header a:hover {
    color: #c6985b;
}

.conteiner2 {

    width: 80%;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.loc span {
    font-size: 20px;
    background-color: #c6985b;
    padding: 5px;
    border-radius: 5px;

}

.conteiner3 {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border-radius: 20px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.conteiner3 .info-map p span {
    color: #c6985b;
    font-weight: bold;
}

.conteiner3 .info-map p {
    padding: 7px 0 7px 0;
}

.gmp {
    margin-top: 20px;

}

.gmp img {
    width: 100%;
    border-radius: 20px;
    height: 300px;
}

section#voltar {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#voltar a {
    text-decoration: none;
    color: white;
    background-color: #c6985b;
    padding: 15px;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
}

#aeroporto {
    margin-top: 50px;
}

@media (min-width: 360px) and (max-width: 575.98px) {
    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
    }
}